# **ETL**


---------------------------------------------------------------------------
# **Librerias**

In [4]:
# Se importan las librerias necesarias
import pandas as pd
import openpyxl

----------------------------------------------------------------------------
# **Ruta**

In [ ]:
# Esta sera la ruta para la lectura de los datos
path = "data/homicidios.xlsx"

---------------------------------------------------------------
# **Lectura**

In [49]:
# Lectura de los datos y transformacion en un DataFrame
df = pd.read_excel(path, engine="openpyxl", sheet_name="HECHOS")

--------------------------------------------------------------
# **EDA**

In [8]:
# Se identifican la cantidad de valores unicos en la columna ID
df['ID'].nunique()

696

In [9]:
# Se identifican la cantidad de Fechas unicas para asociarlo a accidentes diarios
df['FECHA'].nunique()

598

In [17]:
# Se identifica la cantidad de accidentes anuales
print(df.groupby("AAAA").ID.nunique())

AAAA
2016    144
2017    131
2018    143
2019    103
2020     78
2021     97
Name: ID, dtype: int64

In [43]:
df1 = df.copy() #se realiza una copia del DataFrame original para aislar datos en torno a la columna victima

df1 =df1.drop(['N_VICTIMAS', 'FECHA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'ACUSADO'], axis=1) #se eliminan las columnas innecesarias para el analicis deseado


table1 = pd.pivot_table(df1, values='ID', index=['VICTIMA'],
                       columns=['AAAA'], aggfunc="count") #se realiza un pivote de la informacion para desplegarla de una forma mas intuitiva

table1 = table1.fillna(0) # al pivotar se generan campos con valores NaN que reemplazaremos con 0

print(table1)

AAAA         2016  2017  2018  2019  2020  2021
VICTIMA
AUTO         17.0  18.0  15.0  11.0  11.0  11.0
BICICLETA     4.0   4.0   3.0   7.0   5.0   6.0
CARGAS        3.0   2.0   2.0   0.0   0.0   0.0
MOTO         64.0  53.0  55.0  50.0  27.0  46.0
MOVIL         1.0   0.0   1.0   0.0   0.0   0.0
OBJETO FIJO   0.0   1.0   0.0   0.0   0.0   0.0
PASAJEROS     1.0   0.0   2.0   1.0   0.0   1.0
PEATON       49.0  49.0  65.0  34.0  34.0  33.0
PEATON_MOTO   0.0   0.0   0.0   0.0   1.0   0.0
SD            5.0   4.0   0.0   0.0   0.0   0.0

In [45]:
df2 = df.copy() #se realiza una copia del DataFrame original para aislar datos en torno a la columna acusado

df2 =df2.drop(['N_VICTIMAS', 'FECHA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA'], axis=1) #se eliminan las columnas innecesarias para el analicis deseado


table2 = pd.pivot_table(df2, values='ID', index=['ACUSADO'],
                       columns=['AAAA'], aggfunc="count") #se realiza un pivote de la informacion para desplegarla de una forma mas intuitiva

table2 = table2.fillna(0) # al pivotar se generan campos con valores NaN que reemplazaremos con 0

print(table2)

AAAA         2016  2017  2018  2019  2020  2021
ACUSADO
AUTO         39.0  39.0  37.0  33.0  25.0  31.0
BICICLETA     1.0   1.0   1.0   2.0   0.0   2.0
CARGAS       23.0  28.0  37.0  21.0  14.0  23.0
MOTO         14.0   7.0  16.0   8.0   9.0   3.0
MULTIPLE      2.0   4.0   4.0   4.0   1.0   2.0
OBJETO FIJO   9.0  16.0   0.0   7.0  10.0  20.0
OTRO          1.0   0.0   2.0   2.0   0.0   1.0
PASAJEROS    42.0  32.0  44.0  22.0  19.0  14.0
SD           13.0   4.0   2.0   3.0   0.0   1.0
TREN          0.0   0.0   0.0   1.0   0.0   0.0

In [13]:
# Se revisa la fecha de el primer accidente de el DataFrame
Fecha_primer_accidente =df['FECHA'].min()
print(Fecha_primer_accidente)

2016-01-01 00:00:00

In [51]:
#Se revisa la fecha de el ultimo accidente de nuestro DataFrame
Fecha_ultimo_accidente=df['FECHA'].max()
print(Fecha_ultimo_accidente)

2021-12-30 00:00:00

--------------------------------------------------------------------
# **Almacenamiento**

In [44]:
df.to_json('./Data/clean/HECHOS.json') #se almacena nuestro DataFrame completo

In [46]:
df1.to_json('./Data/clean/VICTIMA.json') #se almacena nuestro DataFrame de victima

In [47]:
df2.to_json('./Data/clean/ACUSADO.json') #se almacena nuestro DataFrame de acusado